* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.e-text-white {
  color: #FFFFFF;
}

.e-text-white {
  color: #FFFFFF;
}

.e-text-blue {
  color: #003057
}

.e-bg-gray-10 {
  background-color: #F9FAFB;
}

.e-text-gray-10 {
  color: #53565A;
}

.e-text-gray-30 {
  color: #252323;
}

.e-text-medium {
  font-weight: 700;
}

.font-barlow {
  font-family: Barlow;
}

.font-joey {
  font-family: FS Joey;
}

.custom_paragraph > h2,h3 {
  font-family: FS Joey;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #252323;
  margin-bottom: 32px;
}

.custom_paragraph > h2::before {
  content: "";
  display: block;
  height: 4px;
  width: 39px;
  background-color: #B0A811;
  border-radius: 3px;
  margin-bottom: 15px;
}

.custom_paragraph > p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.11px;
  color: #53565A;
}

.content_cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 32px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(186, 186, 186, 0.18);
  border-radius: 8px;
  padding: 36px 42px;
  width: 100%;
}

.anime-scale {
  transition: .3s ease-in-out;
}

.anime-scale:hover {
  transform: scale(1.05);
  transition: .3s ease-out;
}

.card > .card_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  margin-bottom: 15px;
}

.card > .card_title > img {
  margin-right: 10px;
}

.card > .card_title > span {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #252323;
}

.card > p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.11px;
  color: #53565A;
  margin: 19px 0 35px;
}

.card > .button_plus {
  display: inline-block;
  border: 2px solid #003057;
  box-sizing: border-box;
  border-radius: 40px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #003057;
  padding: 12px 30px;
  cursor: pointer;
}

.list_items {
  background: #FFFFFF;
  border: 1px solid #E5E2E2;
  border-radius: 8px;
}

.list_items > .item {
  display: flex;
  padding: 52px 42px;
}

.list_items > .item:nth-child(2n - 2) {
  background-color: #EEF1F3;
}

.item_info {
  width: calc(100% - 182px);
  padding-right: 42px;
}

.item_info > .item_info_title {
  min-height: 55px;
  margin-bottom: 10px;
  font-family: Barlow;
  font-weight: bold;
  font-size: 28px;
  color: #252323;
}

.item_info > .item_info_paragraph {
  font-family: Barlow;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.11px;
  color: #53565A;
}

.item_button_export {
  display: flex;
  align-items: center;
  width: 182px;
  border-left: 1px solid #BECAD3;
  padding-left: 42px;
}

.item_button_export > a:hover {
  transform: scale(1.05);
  transition: .3s ease-out;
}

.item_button_export > a {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  border: 2px solid #003057;
  box-sizing: border-box;
  border-radius: 40px;
  max-width: 140px;
  width: 100%;
  padding: 14px 15.5px;
  text-decoration: none;
  font-size: 16px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  color: #003057;
  transition: .3s ease-in-out;
}

.cards_people {
  display: flex;
  flex-wrap: wrap;
}

.card_poeple {
  width: min-content;
  height: min-content;
  border: 1px solid #E5E2E2;
  border-radius: 8px;
  background-color: white;
  margin-top: 15px;
  margin-right: 14px;
}

.card_poeple > .card_info {
  padding: 16px;
}

.card_info > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #53565A;
  cursor: pointer;
}

.card_info > span {
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.11px;
  color: #9EA2A2;
}

.card_info > .description {
  display: none;
  margin-top: 24px;
  font-family: Barlow;
  font-size: 16px;
  letter-spacing: 0.11px;
  color: #53565A;
}

.arrow_info {
  transition: .3s ease-in;
}

#arrow_slide1, #arrow_slide2, #arrow_slide3 {
  display: none;
}

#arrow_slide1:checked ~ label img,
#arrow_slide2:checked ~ label img,
#arrow_slide3:checked ~ label img
{
  transform: rotate(180deg);
}

#arrow_slide1:checked ~ .description,
#arrow_slide2:checked ~ .description,
#arrow_slide3:checked ~ .description {
  display: block;
}

.wrapper_input {
  position: relative;
  min-height: 95px;
  width: 100%;
}

.wrapper_input .textfield {
  margin-top: 18px;
  padding: 16px 24px 16px 24px;
  width: 100%;
  height: 56px;
  line-height: 56px;
  border: 1.5px solid rgba(105, 97, 88, 0.4);
  box-shadow: 0px 2px 16px rgba(190, 202, 211, 0.4);
  border-radius: 40px;
  color: #6A798B;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background: #FFFFFF;
  outline: none;
}

.textfield.textfield-area {
  height: auto;
  line-height: normal;
  overflow-y: hidden;
  border-radius: 12px;
}

.wrapper_input .textfield::placeholder {
  color: transparent; 
}
.wrapper_input .textfield:hover {
  border: 1.5px solid rgba(105, 97, 88, 0.5);
  box-shadow: 0px 0px 0px 2px rgba(105, 97, 88, 0.2);

}
.wrapper_input .textfield:focus {

}
.wrapper_input .textfield:focus ~ .placeholder {
  color: #6A798B;
  font-size: 14px; 
}
.wrapper_input .textfield:focus::placeholder {
  transition: .7s;
  color: #6A798B; 
}
.wrapper_input .placeholder {
  position: absolute;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  height: 15px;
  z-index: 1;
  top: 36px;
  left: 16px;
  color: rgba(105, 97, 88, 0.7);
  padding: 0 5px;
  pointer-events: none; 
}

/* .disabled-input .textfield {
  background: #F7F7F8;
  cursor: not-allowed; 
}
.disabled-input .textfield:disabled ~ .placeholder {
  top: 3px;
  font-size: 14px; 
}
.disabled-input .textfield:disabled:not(:valid) ~W .placeholder {
  top: 3px;
  font-size: 14px;
} 

.error-input .textfield {
  border: 1.5px solid #FF4646 !important;
  box-shadow: none; 
}
.error-input .textfield:hover {
  border: 1.5px solid #FF4646 !important;
  box-shadow: none; 
}

.error-input .error-msg {
  display: block;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 18px;
  line-height: 16px;
  color: #FF4646 !important;
  padding: 3px 0 0 3px; 
}

.error-input .placeholder {
  color: #FF4646 !important; 
}
*/

.wrapper_input .textfield:focus ~ .placeholder,
.wrapper_input .textfield:not(:focus):valid ~ .placeholder {
  top: -4px;
  font-size: 14px; 
}

.textfield, .placeholder {
  transition: ease-in-out 0.2s all;
  -webkit-transition: ease-in-out 0.2s all;
  -moz-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
}

.button {
  font-family: Barlow;
  background: #E3E829;
  border-radius: 40px;
  width: max-content;
  padding: 15px 48px;
  text-align: center;
  letter-spacing: 1px;
  color: #252323;
  font-weight: bold;
  cursor: pointer;
}

.come_back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  font-family: Barlow;
  color: #5E6165;
  font-size: 16px;
  transform: translateX(-18px);
}

.come_back a {
  text-decoration: none;
  color: #5E6165;
}

.come_back img {
  margin: 0 10px;
}

.come_back span {
  font-weight: 500;
}

@media screen and (max-width : 900px){
  .item_info > .item_info_title {
    font-size: 24px;
  }

  .item_button_export {
    padding-left: 24px;
    width: 152px;
  }
  
  .item_info {
    padding-right: 24px;
    width: calc(100% - 152px);
  }

  .list_items > .item {
    padding: 42px 24px;
  }

  .item_info > .item_info_title {
    font-size: 24px;
  }
  
  .item_info > .item_info_paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width : 800px){
  .custom_paragraph > h2,h3 {
    font-size: 40px;
  }
  .custom_paragraph > p {
    font-size: 16px;
  }
  .content_cards {
    grid-gap: 24px;
  }
  .card {
    padding: 28px 24px;
  }
  .card_info > label {
    font-size: 22px;
  }

  .card_info > span {
    font-size: 16px;
  }
}


@media screen and (max-width : 675px){
  .content_cards {
    display: block;
  }
  .card {
    margin-bottom: 32px;
  }
  .come_back {
    font-size: 12px;
  }
}

@media screen and (max-width : 620px){
  .custom_paragraph > h2,h3 {
    font-size: 24px;
    font-family: Barlow;
  }

  .card > .card_title {
    margin-bottom: 32px;
    align-items: center;
  }

  .card > .card_title > span{
    font-size: 20px;
  }

  .list_items > .item{
    display: block;
    padding: 42px 16px;
  }

  .item_info {
    width: 100%;
  }

  .item_button_export {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    border-left: none;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid #F2EFEF;;
  }

  .item_info > .item_info_title {
    font-size: 20px;
  }
  .card_info > label {
    font-size: 18px;
  }

}

@media screen and (max-width : 620px){
  .come_back {
    transform: translateX(-8px);
  }
}


