.body {
  margin: 0 auto;
  max-width: 1038px;
}

@media screen and (max-width : 1100px){
  .body {
    max-width: 858px;
  }
}

@media screen and (max-width : 900px){
  .body {
    max-width: 658px;
  }
}

@media screen and (max-width : 800px){
  .body {
    max-width: 650px;
  }
}

@media screen and (max-width :680px){
  .body {
    max-width: 600px;
  }
}

@media screen and (max-width : 620px){
  .body {
    max-width: 400px;
  }
}

@media screen and (max-width : 500px){
  .body {
    max-width: 296px;
  }
}