.form_contact {
  padding: 42px 52px;
  background-color: #4C5662;
  border-radius: 8px 0px 0px 8px;
}

.form_input {
  display: flex;
  justify-content: space-between;
}

.control_input {
  width: 48%;
}

.content_button {
  display: flex;
  justify-content: flex-end;
}

.content_form_contact {
  display: flex;
  /* justify-content: space-between; */
}

.form_contact {
  width: calc(100% - 511px);
}

@media screen and (max-width : 1250px){
  .content_form_contact {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width : 650px){
  .form_input {
    display: block;
  }
  .control_input {
    width: 100%;
  }

  .content_button {
    display: flex;
    justify-content: center;
  }
}